{
    "comment": "SnapTrade API Credentials",
    "snaptrade_client_id": "CLIENT_ID",
    "snaptrade_consumer_key": "CONSUMER_KEY",
    
    "comment_user": "These are the credentials for a specific user you've registered",
    "snaptrade_user_id": "mphinance",
    "snaptrade_user_secret": "SECRET",
    "comment_redirect": "The base URL of YOUR app (what you type in the browser)",
    "app_base_url": "http://localhost:6001",    
    "db_path": "options.db"
}